{% extends "base.html" %}

{% block app_content %}
<h1>Et trobes a {{category.name.lower()}}:</h1>

<div class="row mt-4" style="height: 500px;">
    
    <div class="col-md-2" style="border-radius:10px;">
        <h4>Filtres</h4>
        <hr>
        Talla
        <hr>
        Dates
        <hr>
        Color
    </div>

    <div class="col-md-10" style="background-color: rgba(196, 196, 196, 0.1)">Productes
        <div class="row">
            {% for product in products %}
        <div class="col md-3 mb-5" style="flex-wrap: wrap;">
        <div class="card" style="width: 10rem;">
            <img class="cover-img" src="{{ product.photo_url }}" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <a href="{{ url_for('main.product', cat=category.name, id=product.id)}}" class="btn btn-secondary"><span class="oi oi-fullscreen-enter"></span></span></a>
              <a href="#" class="btn btn-primary"><span class="oi oi-cart"></span></a>
            </div>
          </div>
          </div>
        {%endfor %}
        </div>
        
        <nav style="position: absolute; bottom: 30px;" aria-label="Post Pages">
            <ul class="pagination">
                <li class="page-item{% if not prev_url %} disabled{% endif %}">
                    <a class="page-link" href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> {{ _('Productes més nous') }}
                    </a>
                </li>
                <li class="page-item{% if not next_url %} disabled{% endif %}">
                    <a class="page-link" href="{{ next_url or '#' }}">
                        {{ _('Productes més antics') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
            
        </nav>
    </div>
</div>

{% endblock %}
