{% extends 'base.html' %} {% block app_content %}
<h1>Restaurar la contrasenya</h1>
<div class="row">
  <div class="col-md-6">
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      
      <div class="mb-3">
        <label for="password" class="form-label">Contrasenya</label>
        <input
          name="password"
          type="password"
          class="form-control"
          id="password"
        />
      </div>

      <div class="mb-3">
        <label for="password2" class="form-label">Contrasenya</label>
        <input
          name="password2"
          type="password"
          class="form-control"
          id="password2"
        />
      </div>
     
      <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
  </div>
</div>

{% endblock %}
